<section class="page-section bg-light">
  <div class="container" style="width: 60%">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://res.cloudinary.com/felicie/image/upload/c_scale,w_1000/v1638391594/LesAndelys/Le%20port/IMG_5653_dlqgsd.jpg" class="d-block w-100">
      <div class="carousel-caption d-none d-md-block">
        <h4>La grue, le port</h4>
        <p></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/felicie/image/upload/c_scale,w_1000/v1638391565/LesAndelys/Le%20port/IMG_1945_deuzfp.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Vue du port, dos à la seine</h5>
        <p></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/felicie/image/upload/c_scale,w_1000/v1638391547/LesAndelys/Le%20port/7809137617837313619_nadelw.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Le port</h5>
        <p></p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Précédent</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Suivant</span>
  </button>
</div>
</div>
</section>
