
<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="modal-body">
        <%=image_tag @picture.image, :class => "img-fluid d-block mx-auto", :alt => @picture.caption%>
        <h2 class="text-uppercase text-center"><%= @picture.caption %></h2>
        <%= link_to 'Modifier la photo', edit_picture_path(@picture) %>
      </div>
    </div>
  </div>
</div>
