// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.text-muted-white {
color: #FFFFFF;
}

.paragraph-link {
text-decoration: none;
color: #212529;
}

.paragraph-link:hover {
text-decoration: none;
color: #212529;
}
